<!DOCTYPE html>
<html>
  <head>
    <title>Tsrp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
  </head>

  <body class="text-light">
    <header class="navbar">
      <section class="navbar-section">
        <a href="/" class="navbar-brand">
          <%= image_tag "/ts-logo.jpg", alt: "Los Santos", class: 'img-responsive' %>
        </a>
      </section>
      <section class="navbar-section"></section>
      <section class="navbar-section">
        <a href="https://discord.com/invite/3ZbD9MP" target="_blank" class="text-light btn btn-link">Discord</a>
        <a href="https://wiki.timeservedrp.com/" target="_blank" class="text-light btn btn-link">Wiki</a>
        <a href="https://forums.timeservedrp.com/" target="_blank" class="text-light btn btn-link">Forums</a>
        <a href="https://github.com/openmailbox/tsrp-web" target="_blank" class="text-light btn btn-link">Github</a>
      </section>
    </header>

    <%= yield %>

    <footer>
      <p class="text-center">&copy; <%= DateTime.now.year %> Time Served</p>
    </footer>
  </body>
</html>
